/* CALENDAR */
.calendar {
    margin: 1em;
}

/* calendar event */

.month_default_event {
    overflow: hidden;
    border-radius: 15px;
}
.month_default_event_inner {
    background: #e7e5e4;
    border-color: #80955c;
    color: #fff;
    padding-left: 35px;
    border-radius: 15px;
}

.month_default_event_bar {
    left: 0px;
    width: 30px;
}
.month_default_event_bar_inner {
    background: #888888;
    border-radius: 15px;
    width: 30px;
}

/* context menu icons */
.icon:before {
    position: absolute;
    left: 0px;
    margin-left: 8px;
    margin-top: 3px;
    width: 14px;
    height: 14px;
    content: "";
}

.icon-blue:before {
    background-color: #d7ddf5;
}
.icon-green:before {
    background-color: #d8f2df;
}
.icon-yellow:before {
    background-color: #2882d6;
}
.icon-red:before {
    background-color: #68bd99;
}
